
@*@model appmvc_projet2.Models.Services.TransportColis.TransportDeColis*@
@model appmvc_projet2.ViewModels.ServiceViewModel

@{
    Layout = "Layout";
}

<!-- Home Section-->
<section class="page-section portfolio mt-5">

        <div class="container">
		        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Créer Service Transport de Personnes</h2>
		        <!-- Icon Divider-->
		        <div class="divider-custom">
			        <div class="divider-custom-line"></div>
			        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
			        <div class="divider-custom-line"></div>
		        </div>
		        <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">

                        

			             @using (Html.BeginForm())
                         {  
                             @Html.Partial("ServiceView", Model);

                             
                           <div class="row">
                                  <div class="col">
                                             <div class="form-floating mb-3">
                                                 @Html.TextBoxFor(m => Model.TransportDeColis.NomDuColis, new { @class = "form-control", placeholder = "Nom du colis" })
                                                 @Html.LabelFor(m => Model.TransportDeColis.NomDuColis)
                                            </div>
                                  </div>

                                 @* <div class="col">
                                             <div class="form-floating mb-3">
                                                 @Html.TextBoxFor(m => Model.TransportDeColis.Nature, new { @class = "form-control", placeholder = "Nature du colis" })
                                                 @Html.LabelFor(m => Model.TransportDeColis.Nature)
                                            </div>
                                  </div>*@
                                   <div class="col">
                                             <div class="form-floating mb-3">
                                                 @Html.DropDownListFor(m => Model.TransportDeColis.Nature, new SelectList(Enum.GetValues(typeof(appmvc_projet2.Models.Services.TransportColis.Nature))), "Select Nature", 
                                                 new { @class = "form-control" })
                                                 @Html.LabelFor(m => Model.TransportDeColis.Nature)
                                            </div>
                                  </div>
                           </div>

                             <div class="row">
                                   <div class="col">
                                    <div class="form-floating mb-3">
                                        @Html.TextBoxFor(m => Model.TransportDeColis.Volume, new { @class = "form-control", placeholder = "Volume du colis" })
                                        @Html.LabelFor(m => Model.TransportDeColis.Volume)
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-floating mb-3">
                                        @Html.TextBoxFor(m => Model.TransportDeColis.Format, new { @class = "form-control", placeholder = "Format du colis" })
                                        @Html.LabelFor(m => Model.TransportDeColis.Format)
                                    </div>
                                </div>

                           </div>

   
                           
                            <button class="btn btn-primary btn-xl" type="submit">Créer</button>

         
       

                         }

                    </div>

		        </div>
       </div>
 </section>


