@model List<appmvc_projet2.Models.Services.TransportColis.TransportDeColis>

@{
	Layout = "Layout";
}
		<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Liste transport de colis</h2>
		<!-- Icon Divider-->
		<div class="divider-custom">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
			<div class="divider-custom-line"></div>
		</div>
		<div class="row justify-content-start">
			@foreach (var transportDeColis in Model)
			{
				string editlink = "/TransportColis/Modifier/" + transportDeColis.Id;
				@*string deletelink = "/TransportColis/Supprimer/" + transportDeColis.Id;*@
				<div class="card col-6 m-5" style="width: 25rem;">
					<div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title">Nom du colis : @transportDeColis.NomDuColis</h5>
                            <div class="my-3">
                            <img src="@transportDeColis.ImagePath" width="200" height="200" />
                            </div>
							<h6 class="card-subtitle mb-2 text-muted">Lieu de départ : @transportDeColis.Service.LieuDeDepart </h6>
							<h6 class="card-subtitle mb-2 text-muted">Date de début : @transportDeColis.Service.DateDeDebut </h6>
							<h6 class="card-subtitle mb-2 text-muted">Lieu d'arrivée : @transportDeColis.Service.LieuDeDepart </h6>
							<h6 class="card-subtitle mb-2 text-muted">Date de fin : @transportDeColis.Service.DateDeFin </h6>
                            <h6 class="card-subtitle mb-2 text-muted">Nature : @transportDeColis.Nature</h6>
                            <h6 class="card-subtitle mb-2 text-muted">Volume : @transportDeColis.Volume (m3)</h6>
							<h6 class="card-subtitle mb-2 text-muted">Format : @transportDeColis.Format </h6>
                            @*<p class="card-text">@transportDeColis.Format</p>*@
							<h6 class="card-subtitle mb-2 text-muted">Montant : @transportDeColis.Service.Montant (€)</h6>
                        </div>
			
                        <div>
                            <a href=@editlink class="card-link">Modifier</a>

                            @*@if (User.IsInRole(Role.Admin.ToString()))
                            {
                                <a href=@deletelink class="card-link">Supprimer</a>
                            }*@

                        </div>
						

					</div>
				</div>
			}
			<div class="col-4 m-5" style="width: 18rem;">
				<a href="/TransportColis/Creer">
					<svg xmlns="http://www.w3.org/2000/svg" width="160" height="160" fill="black" class="align-middle bi bi-plus" viewBox="0 0 16 16">
						<path class="plus" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
					</svg>
				</a>
			</div>

		</div>
	
